.pickupCell {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: move;
    color: #7a58fc;
    background-color: rgba(121, 88, 252, 0.1);
}