.cell {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
    color: #7a58fc;
}

.cellLight {
    background-color: rgba(122, 88, 252, 0.1);
}

.cellDark {
    background-color: rgba(122, 88, 252, 0.2);
}

.highlight {
    color: #ffffff;
    background-color: #7a58fc;
}

.fixed {
    font-weight: normal;
}

.error {
    color: #ea4335;
    background-color: rgba(234, 68, 53, 0.2);
}