.cellPickupBar {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 12px;
    padding: 12px 16px;
    border-radius: 8px;
    margin: 16px;
    box-shadow: 0px 0px 4px rgba(64, 64, 64, 0.25);
}